<!DOCTYPE HTML>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Index</title>

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'style.css'%}">
  <script type="text/javascript" src="{% static 'moment.js'%}"></script>

 </head>
 <body class="text-danger p-3 mb-2 bg-dark">

 <div class="text-center font-weight-bold h1">{{ blogtitle }}</div>

 <div class="container-fluid">
    <div class="row">
       <div class="col-md-4 pl-5 pr-5 pt-5">
          <form method="post" novalidate>
              {% csrf_token %}
              <div class="form-group">
                  <div class="font-weight-bold"> {{ form.as_p }}</div>
                  <div class="text-center">
                  <button type="submit" class="btn bg-danger">Отправить</button>
                  </div>
              </div>
          </form>
      </div>
      <div class="col-md-8 pl-5 pr-5 pt-5">

          <div class="container-fluid">
              {% for item in data %}
              <div class="row card m-b-10 p-20 bg-card">
                <div class="line"></div>
                <div class="col-md-12">
                <div class="font-weight-bold"> {{ item.DATA }}</div>
                    Время: <span class="time">  {{ item.CURRENTDATE }} </span>
                </div>
              </div>
              {% endfor %}
          </div>
      </div>
    </div>
 </div>

<script type="text/javascript">
(function() {

var elems = [].filter.call( document.getElementsByTagName("label"), function( input ) {
    return input.innerHTML = "Your messege:";
});

Array.from(document.getElementsByClassName("time")).forEach(
    function(element, index, array) {
      element.innerHTML  = moment(element.innerHTML, 'MMMM DD, YYYY, HH:mm A').format('DD.MM.YYYY HH:mm');
    }
);
})();
</script>

 </body>
</html>