#id_DATA {
    color: red;
    font-family: Verdana;
    font-size: 20;
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-left: 10px solid #E0A800;
  color: #E0A800;
}

.p-20 {
  padding: 20px;

}

.bg-card
{
    background-color: #EEEDEF;
}

.m-b-10 {
  margin-bottom: 10px;
}
